<launch>
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>
    <include file="$(find dji_sdk)/launch/sdk.launch"/>
    
    <node pkg ="dji_sdk" type="camera_pub_no_imshow" name="publish_camera"/>
    <node pkg ="dji_sdk" type="gimbal_control.py" name="control_gimbal"/>
    <node pkg ="dji_sdk" type="kalmanfilter.py" name="kalman_filter" output="screen"/>
    <!-- <node pkg ="dji_sdk" type="lidar_ros.py" name="lidar_ros"/> -->
    <!-- <node pkg ="dji_sdk" type="pmw3901_ros_2.py" name="pmw3901_ros_2"/> -->
    <!-- <node pkg ="dji_sdk" type="save_log" name="save_log" output = "screen"/> -->

    <node pkg ="dji_sdk" type="land_1" name="land_1" output="screen"/>
    
</launch>